---
import { getCollection } from "astro:content";

const posts = await getCollection("texts");
const yearCount: Record<number, number> = {};

posts.forEach((p: any) => {
  const y = new Date(p.data.pubDate).getFullYear();
  yearCount[y] = (yearCount[y] || 0) + 1;
});

const years = Object.keys(yearCount).map(Number).sort((a, b) => b - a);
const yearHref = (y: number) => `/${y}/`;
---

<aside class="w-full flex flex-col gap-3">
    <h3 class="text-4xl font-medium text-left font-bebas text-human-2 border-b-human-3 border-b-2">Historial</h3>
    <ul class="flex flex-col gap-2 px-3">
        {years.map((y) => (
        <li>
            <a href={yearHref(y)} class="flex justify-between items-center text-human-2 text-3xl sm:text-2xl font-bebas tracking-wide">
                <span>{y}</span>
                <span class="text-sm font-bold text-human-2 font-bellota">({yearCount[y]})</span>
            </a>
        </li>
        ))}
    </ul>
</aside>
